.note {
    display: flex;
    flex-direction: column;
    width: 80vw;
    max-width: 600px;
    padding: 25px;
    border-radius: 25px;
    background-color: rgb(117, 117, 117);
}

.search-bar  {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    max-width: 600px;
    padding: 25px;
    border-radius: 25px;
    background-color: rgb(117, 117, 117);
}

.note-title {
    font-weight: bold;
    font-size: 2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    margin-block: .5em;
}

.note-content {
    width: 100%;
    margin-block: .5em;
}

.note-search {
    width: 100%;
    background-color: rgba(255, 255, 255, .25);
}

.buttons {
    display: flex;
    align-self: flex-end;
}

.buttons > button {
    width: 37.5px;
    height: 37.5px;
}

.buttons > :last-child {
    margin-left: 18.75px;
}

.add-button {
    background-image: url('./../../imgs/plus.svg');
    background-size: contain;
}

.edit-button {
    background-image: url('./../../imgs/pencil.svg');
    background-size: contain;
}

.delete-button {
    background-image: url('./../../imgs/trash.svg');
    background-size: contain;
}

.search-button {
    background-image: url('./../../imgs/magnifying-glass.svg');
    background-size: contain;
}